


<%= render :partial => "brief_profile", :locals => { :employee => @employee } %>


<div class="profile-content-details clearfix">
	<div class="main-profile-content">
	</div><!-- main-profile-content -->
	
	<div class="sidebar-menu wd">
	</div><!-- sidebar-menu wd -->
	
</div><!-- profile-content-details -->